manifest {
  mainScript = 'qc-wf.nf'
}

params {
  	
    reads1 = ""
    reads2 = ""

    singularity_container_bbmap = "https://depot.galaxyproject.org/singularity/bbmap:39.01--h92535d8_1"
    docker_container_bbmap = "quay.io/biocontainers/bbmap:39.01--h92535d8_1"

    // based on https://github.com/alesssia/YAMP)

    // BBduk parameters for trimming 
    qin = 33 // Input quality offset: 33 (ASCII+33) or 64 (ASCII+64)
    kcontaminants = 23 // Kmer length used for finding contaminants	
    phred = 10 // regions with average quality BELOW this will be trimmed 
    minlength = 60 // reads shorter than this after trimming will be discarded
    mink = 11 // shorter kmers at read tips to look for 
    hdist = 1  // maximum Hamming distance for ref kmers            
  
    // BBwrap parameters for decontamination	
    mind = 0.95 // Approximate minimum alignment identity to look for
    maxindel = 3 // longest indel to look for
    bwr = 0.16 // restrict alignment band to this
  	
    // Resources provided with the pipeline
    artefacts = "$baseDir/assets/data/sequencing_artifacts.fa.gz"
    phix174ill = "$baseDir/assets/data/phix174_ill.ref.fa.gz"
    adapters = "$baseDir/assets/data/adapters.fa"

    process.memory = '32 GB'
    process.cpus = 8

	
}

profiles {

  docker {
    docker.enabled = true
  }

  singularity {
    singularity.enabled = true
    singularity.autoMounts = true
  }

}
